In [1]:

import requests
import json

def download_data(api_url):
    response = requests.get(api_url)
    
    if response.status_code == 200:
        try:
            data = json.loads(response.text)
            return data
        except json.JSONDecodeError as e:
            print(f"JSONDecodeError: {e}")
    else:
        print(f"Request failed with status code: {response.status_code}")
    
    return None

# Filtrando data de 2010 a 2020
# Documentacion: https://documents.worldbank.org/en/publication/documents-reports/api
# Indicadores hay muchos pueden ver en: https://data.worldbank.org/indicator
api_url = "https://api.worldbank.org/v2/country/all/indicator/SP.POP.GROW?date=2010:2020&format=json"
data = download_data(api_url)

In [2]:
type(data)

list

In [4]:
len(data)

2

In [16]:
a= data[1]
a[0]['country']['id'],a[0]['country']['value'],a[0]['countryiso3code'],int(a[0]['date']),round(a[0]['value'],3)

('ZH', 'Africa Eastern and Southern', 'AFE', 2020, 2.678)

In [17]:
import pandas as pd
df=pd.DataFrame([(x['country']['id'],x['country']['value'],x['countryiso3code'],int(x['date']),round(x['value'],3)) for x in data[1]],\
             columns=['Country Code','Country','ISO3CODE','Year','Pop. Growth'])
df.head()

  Country Code                      Country ISO3CODE  Year  Pop. Growth
0           ZH  Africa Eastern and Southern      AFE  2020        2.678
1           ZH  Africa Eastern and Southern      AFE  2019        2.691
2           ZH  Africa Eastern and Southern      AFE  2018        2.688
3           ZH  Africa Eastern and Southern      AFE  2017        2.656
4           ZH  Africa Eastern and Southern      AFE  2016        2.728

# Atributos

In [18]:
print(df.size)# Numero de elementos
print(df.shape) # Tama√±o
print(df.columns) # columnas
print(df.index) # indices
print(df.dtypes) #tipos de datos
print(df.ndim) # numero de dimensiones

250
(50, 5)
Index(['Country Code', 'Country', 'ISO3CODE', 'Year', 'Pop. Growth'], dtype='object')
RangeIndex(start=0, stop=50, step=1)
Country Code     object
Country          object
ISO3CODE         object
Year              int64
Pop. Growth     float64
dtype: object
2

In [20]:
df.values[-5:]

array([['B8', 'Central Europe and the Baltics', 'CEB', 2019, -0.136],
       ['B8', 'Central Europe and the Baltics', 'CEB', 2018, -0.196],
       ['B8', 'Central Europe and the Baltics', 'CEB', 2017, -0.247],
       ['B8', 'Central Europe and the Baltics', 'CEB', 2016, -0.255],
       ['B8', 'Central Europe and the Baltics', 'CEB', 2015, -0.23]],
      dtype=object)

# Metodos

In [21]:
df.loc[df['Year']>=2019,] # loc

   Country Code                         Country ISO3CODE  Year  Pop. Growth
0            ZH     Africa Eastern and Southern      AFE  2020        2.678
1            ZH     Africa Eastern and Southern      AFE  2019        2.691
11           ZI      Africa Western and Central      AFW  2020        2.616
12           ZI      Africa Western and Central      AFW  2019        2.634
22           1A                      Arab World      ARB  2020        1.758
23           1A                      Arab World      ARB  2019        2.063
33           S3          Caribbean small states      CSS  2020        0.278
34           S3          Caribbean small states      CSS  2019        0.671
44           B8  Central Europe and the Baltics      CEB  2020       -0.213
45           B8  Central Europe and the Baltics      CEB  2019       -0.136

In [22]:
df.loc[df['Year']>=2019, ['Country','Pop. Growth']]

                           Country  Pop. Growth
0      Africa Eastern and Southern        2.678
1      Africa Eastern and Southern        2.691
11      Africa Western and Central        2.616
12      Africa Western and Central        2.634
22                      Arab World        1.758
23                      Arab World        2.063
33          Caribbean small states        0.278
34          Caribbean small states        0.671
44  Central Europe and the Baltics       -0.213
45  Central Europe and the Baltics       -0.136

In [23]:
df.head(3)

  Country Code                      Country ISO3CODE  Year  Pop. Growth
0           ZH  Africa Eastern and Southern      AFE  2020        2.678
1           ZH  Africa Eastern and Southern      AFE  2019        2.691
2           ZH  Africa Eastern and Southern      AFE  2018        2.688

In [24]:
df.tail(4)

   Country Code                         Country ISO3CODE  Year  Pop. Growth
46           B8  Central Europe and the Baltics      CEB  2018       -0.196
47           B8  Central Europe and the Baltics      CEB  2017       -0.247
48           B8  Central Europe and the Baltics      CEB  2016       -0.255
49           B8  Central Europe and the Baltics      CEB  2015       -0.230

In [26]:
df.sort_values(by='Country',ascending=False).head() # ordenar

   Country Code                         Country ISO3CODE  Year  Pop. Growth
49           B8  Central Europe and the Baltics      CEB  2015       -0.230
48           B8  Central Europe and the Baltics      CEB  2016       -0.255
47           B8  Central Europe and the Baltics      CEB  2017       -0.247
46           B8  Central Europe and the Baltics      CEB  2018       -0.196
45           B8  Central Europe and the Baltics      CEB  2019       -0.136

In [27]:
df.isnull().sum() # verificar nulos

Country Code    0
Country         0
ISO3CODE        0
Year            0
Pop. Growth     0
dtype: int64

In [28]:
df.describe()# resumen numerico

              Year  Pop. Growth
count    50.000000    50.000000
mean   2015.300000     1.782300
std       3.163891     1.115641
min    2010.000000    -0.255000
25%    2013.000000     0.633250
50%    2015.500000     2.216500
75%    2018.000000     2.720500
max    2020.000000     2.849000

In [29]:
p=df.pivot(index='Year', columns='Country', values='Pop. Growth')
p

Country,Africa Eastern and Southern,Africa Western and Central,Arab World,Caribbean small states,Central Europe and the Baltics
Year,,,,,
2010,2.758,2.847,2.438,0.577,NaN
2011,2.738,2.849,2.174,0.570,NaN
2012,2.740,2.813,2.157,0.634,NaN
2013,2.780,2.762,2.300,0.661,NaN
2014,2.775,2.751,2.259,0.633,NaN
2015,2.803,2.723,2.156,0.607,-0.230
2016,2.728,2.713,2.110,0.563,-0.255
2017,2.656,2.706,2.069,0.528,-0.247
2018,2.688,2.669,2.096,0.972,-0.196
2019,2.691,2.634,2.063,0.671,-0.136
2020,2.678,2.616,1.758,0.278,-0.213

In [30]:
p.melt().head() # melt

                       Country  value
0  Africa Eastern and Southern  2.758
1  Africa Eastern and Southern  2.738
2  Africa Eastern and Southern  2.740
3  Africa Eastern and Southern  2.780
4  Africa Eastern and Southern  2.775

In [31]:
df.count() # conteo de valos validos

Country Code    50
Country         50
ISO3CODE        50
Year            50
Pop. Growth     50
dtype: int64

In [32]:
c=df.copy() # crear copias de respaldo
c.head()

  Country Code                      Country ISO3CODE  Year  Pop. Growth
0           ZH  Africa Eastern and Southern      AFE  2020        2.678
1           ZH  Africa Eastern and Southern      AFE  2019        2.691
2           ZH  Africa Eastern and Southern      AFE  2018        2.688
3           ZH  Africa Eastern and Southern      AFE  2017        2.656
4           ZH  Africa Eastern and Southern      AFE  2016        2.728

In [33]:
def compund(x):
    return x*1.105
df['Pop. Growth'].apply(compund)[0:5] # apply

0    2.959190
1    2.973555
2    2.970240
3    2.934880
4    3.014440
Name: Pop. Growth, dtype: float64

In [34]:
df['Pop. Growth'].apply(lambda x: x*1.105)[0:5]

0    2.959190
1    2.973555
2    2.970240
3    2.934880
4    3.014440
Name: Pop. Growth, dtype: float64

In [35]:
sum(df.duplicated()) # suaa de suplicados

0

In [36]:
df

   Country Code                         Country ISO3CODE  Year  Pop. Growth
0            ZH     Africa Eastern and Southern      AFE  2020        2.678
1            ZH     Africa Eastern and Southern      AFE  2019        2.691
2            ZH     Africa Eastern and Southern      AFE  2018        2.688
3            ZH     Africa Eastern and Southern      AFE  2017        2.656
4            ZH     Africa Eastern and Southern      AFE  2016        2.728
5            ZH     Africa Eastern and Southern      AFE  2015        2.803
6            ZH     Africa Eastern and Southern      AFE  2014        2.775
7            ZH     Africa Eastern and Southern      AFE  2013        2.780
8            ZH     Africa Eastern and Southern      AFE  2012        2.740
9            ZH     Africa Eastern and Southern      AFE  2011        2.738
10           ZH     Africa Eastern and Southern      AFE  2010        2.758
11           ZI      Africa Western and Central      AFW  2020        2.616
12           ZI      Africa Western and Central      AFW  2019        2.634
13           ZI      Africa Western and Central      AFW  2018        2.669
14           ZI      Africa Western and Central      AFW  2017        2.706
15           ZI      Africa Western and Central      AFW  2016        2.713
16           ZI      Africa Western and Central      AFW  2015        2.723
17           ZI      Africa Western and Central      AFW  2014        2.751
18           ZI      Africa Western and Central      AFW  2013        2.762
19           ZI      Africa Western and Central      AFW  2012        2.813
20           ZI      Africa Western and Central      AFW  2011        2.849
21           ZI      Africa Western and Central      AFW  2010        2.847
22           1A                      Arab World      ARB  2020        1.758
23           1A                      Arab World      ARB  2019        2.063
24           1A                      Arab World      ARB  2018        2.096
25           1A                      Arab World      ARB  2017        2.069
26           1A                      Arab World      ARB  2016        2.110
27           1A                      Arab World      ARB  2015        2.156
28           1A                      Arab World      ARB  2014        2.259
29           1A                      Arab World      ARB  2013        2.300
30           1A                      Arab World      ARB  2012        2.157
31           1A                      Arab World      ARB  2011        2.174
32           1A                      Arab World      ARB  2010        2.438
33           S3          Caribbean small states      CSS  2020        0.278
34           S3          Caribbean small states      CSS  2019        0.671
35           S3          Caribbean small states      CSS  2018        0.972
36           S3          Caribbean small states      CSS  2017        0.528
37           S3          Caribbean small states      CSS  2016        0.563
38           S3          Caribbean small states      CSS  2015        0.607
39           S3          Caribbean small states      CSS  2014        0.633
40           S3          Caribbean small states      CSS  2013        0.661
41           S3          Caribbean small states      CSS  2012        0.634
42           S3          Caribbean small states      CSS  2011        0.570
43           S3          Caribbean small states      CSS  2010        0.577
44           B8  Central Europe and the Baltics      CEB  2020       -0.213
45           B8  Central Europe and the Baltics      CEB  2019       -0.136
46           B8  Central Europe and the Baltics      CEB  2018       -0.196
47           B8  Central Europe and the Baltics      CEB  2017       -0.247
48           B8  Central Europe and the Baltics      CEB  2016       -0.255
49           B8  Central Europe and the Baltics      CEB  2015       -0.230

In [37]:
df.query("`Country Code` in ('ZH','ZI')").head() # Query como en SQL

  Country Code                      Country ISO3CODE  Year  Pop. Growth
0           ZH  Africa Eastern and Southern      AFE  2020        2.678
1           ZH  Africa Eastern and Southern      AFE  2019        2.691
2           ZH  Africa Eastern and Southern      AFE  2018        2.688
3           ZH  Africa Eastern and Southern      AFE  2017        2.656
4           ZH  Africa Eastern and Southern      AFE  2016        2.728

In [38]:
df.groupby(by='Country').mean()['Pop. Growth'] # aGrupacion

Country
Africa Eastern and Southern       2.730455
Africa Western and Central        2.734818
Arab World                        2.143636
Caribbean small states            0.608545
Central Europe and the Baltics   -0.212833
Name: Pop. Growth, dtype: float64

In [39]:
df.groupby(by=['Country','Year']).mean().head(12) # aGrupacion

                                  Pop. Growth
Country                     Year
Africa Eastern and Southern 2010        2.758
                            2011        2.738
                            2012        2.740
                            2013        2.780
                            2014        2.775
                            2015        2.803
                            2016        2.728
                            2017        2.656
                            2018        2.688
                            2019        2.691
                            2020        2.678
Africa Western and Central  2010        2.847

In [40]:
df.sample(10) # muestra

   Country Code                         Country ISO3CODE  Year  Pop. Growth
21           ZI      Africa Western and Central      AFW  2010        2.847
22           1A                      Arab World      ARB  2020        1.758
48           B8  Central Europe and the Baltics      CEB  2016       -0.255
40           S3          Caribbean small states      CSS  2013        0.661
8            ZH     Africa Eastern and Southern      AFE  2012        2.740
37           S3          Caribbean small states      CSS  2016        0.563
11           ZI      Africa Western and Central      AFW  2020        2.616
23           1A                      Arab World      ARB  2019        2.063
12           ZI      Africa Western and Central      AFW  2019        2.634
25           1A                      Arab World      ARB  2017        2.069